/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth Scrolling Styles */
html {
    scroll-behavior: smooth;
}

/* Body styles */
body {
    display: grid;
    font-family: 'Outfit';
    grid-template-areas:
        "header header header header header header header header header header header header"
        "main main main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    gap: 30px;
    margin: 20px;
}