* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  width: 1440px;
  height: 3800px;
  grid-template-rows: 0.1fr 6fr 0.7fr;
  grid-template-columns: repeat(12, 1fr);
  background-image: url('images/BingLandingPage.png');
  background-size: cover; /* Adjust as needed */
}

body {
  font-family: 'Outfit';
  display: flex;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  margin: 0; /* Remove default margin */
}

/* Style for demonstration purposes */
div {
  text-align: center;
}

.Nav {
  display: inline-flex;
  justify-content: space-around;
  grid-row: 1;
  grid-column: span 12;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 170px;
  height: 27px;
}

/* Remove list-style and padding for the ul */
ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
  padding: 7px 15px 7px 15px;
  border-radius: 30px; /* Add rounded corners for a softer look */
}

/* Purple shadow background on 'Try' item */
#try {
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(12, 25, 70, 0.5); /* Purple color with 50% transparency */
}

#try:hover {
  background-color: #80008042; /* Purple color */
}

/* Hover effect on all list items */
li:hover {
  background-color: #dddddd27; /* Lighter background on hover */
  cursor: pointer; /* Change cursor on hover for better UX */
}

a {
  text-decoration: none;
  color: #fff; /* Text color for better visibility */
}

main {
  grid-row: 2; grid-column: span 12;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 0.7fr;
  grid-template-columns: repeat(12, 1fr);
}

.Home {
  grid-row: 1;
  grid-column: span 12;
  padding: 30px;
  text-align: center;
}

.Home h1 {
  font-size: 48px;
  font-weight: bold;
  padding: 30px;
}

.Home p {
  font-size: 18px;
  font-weight: 300;
  width: 50%;
  margin: 0 auto;
  text-align: justify;
}
.About { grid-row: 2; grid-column: span 12; }
.Reviews { grid-row: 3; grid-column: span 12; }
.Try { grid-row: 4; grid-column: span 12; }

footer { grid-row: 3; grid-column: span 12; }
